* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: #f4f9e2;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding-top: 27px;
  margin-bottom: 164px;
}

.logo {
  color: #62d0df;
  font-size: 24px;
  line-height: 26px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 27px;
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
  transition: all 0.4s;
  height: 16px;
}

.nav__item:hover {
  opacity: 0.3;
}

.nav__item:last-of-type {
  margin-right: 0;
}
.nav__item_active {
  border-bottom: 1px solid #22356f;
  padding-bottom: 14px;
}

.header__btn-top {
  padding: 20px 30px;
  background: #62d0df;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  transition: all 0.4s;
}

.header__btn:hover {
  opacity: 0.3;
}

.header__title {
  color: #62d0df;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 54px;
  display: inline-block;
}

.header__subtitle {
  width: 484px;
  color: #22356f;
  font-size: 48px;
  line-height: 53px;
  margin-bottom: 84px;
}

.header__description {
  font-size: 24px;
  line-height: 42px;
  width: 469px;
}

.header__btn {
}

.header__btn-left {
}

.header__btn-right {
}
